.navbarBox {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 44px;
  width: 100%;
  border-bottom: solid 2px;
}

.navbarLogo {
  display: flex;
  align-items: center;
}

.BookclubImage {
  position: relative;
  top: 4px;
  height: 100px;
  width: auto;
}

.navbarButtons {
  display: flex;
  flex-direction: row;
}

.reader-view {
  align-self: flex-end;
}
.navbarButton {
  border-radius: 15px 15px 0 0;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  border: none;
  color: black;
  padding: 10px 12px;
  text-align: center;
  font-size: 1rem;
  height: 100%;

  /* border properties */
  border-color: white;
  border-style: solid;
  border-top-width: 5px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  border-left-width: 2px;
}

.navbarButton:hover {
  background-color: black;
  color: var(--main-color);
}

.signedInInfo {
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  text-align: right;
  margin-top: 4px;
  color: black;
}
