.navbar {
  background-color: #8cc0de !important;
  color: #00215e;
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: 1;
  
}

.button-one {
  color: #00215e;
  padding: none;
}

img.LogoImage {
  position: relative;
  top: 4px;
  height: 70px;
  width: auto;
}

#notifications {
  display: flex;
  align-items: center;
}

#message-icon {
  margin-left: 0.3rem;
}

.alignment-message {
  margin: none;
}
