.connectionstable {
  border: 2px solid #ffd9c0;
  background-color: #ffd9c0;
  border-radius: 20px;
  border-collapse: separate !important;
  width: 70%;
  max-width: calc(100vw - 20px);
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin: 0 auto;
}

.connections-row th,
.connections-row td {
  height: 60px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.connections-heading {
  margin-top: 30px;
  margin-bottom: 30px;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}
