.social-icon {
  color: #212f3c;
  font-size: 30px;
  transition: color 0.2s;
  text-decoration: none;
  padding-left: 10px;
}

.social-icon:hover {
  color: #8cc0de;
}

.footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #8cc0de;
  /* position: fixed; */
  width: 100vw;
  bottom:0;
  left:0;
  right: 0;
}

a:link {
  text-decoration: none;
  color: #00215e;
}

a:visited {
  color: #00215e;
}
