/* #custom-button {
  /* background-color: #8cc0de; Change to the desired color */
/* background-color: #8a2952; */
/* border-color: #8cc0de; Change to the desired color */
/* border-color: #faf0d7; */
/* border-color: #8a2952; */
/* color: #00215e; /* Change to the desired color */
/* } */

/* #custom-button:hover {
  background-color: #00215e; 
  border-color: #00215e;
  color: #8cc0de; 
} */

#custom-card-homepage {
  border: 7px solid #ffd9c0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card {
  background-color: #ffd9c0;
}

/* .button-two {
  color: #ffd9c0;
} */

/* .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
  }

  /* .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  } */
}
