#custom-button {
  /* background-color: #8cc0de; Change to the desired color */
  background-color: #8a2952;
  /* border-color: #8cc0de; Change to the desired color */
  /* border-color: #faf0d7; */
  border-color: #8a2952;
  color: #00215e; /* Change to the desired color */
}

#custom-button:hover {
  background-color: #00215e; /* Change to the desired color on hover */
  border-color: #00215e; /* Change to the desired color on hover */
  color: #8cc0de; /* Change to the desired text color on hover */
}

#custom-card-storystudio {
  /* border: 7px solid rgba(204, 238, 188, 0.5); */
  border: 7px solid #ffd9c0;
  width: 300px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  background-color: #ffd9c0;
  border-radius: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.card {
  padding: none;
}

.card-img-top-storystudio {
  height: 130px; /* Adjust as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.button-storystudio {
  color: #00215e;
  font-size: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }
}

.storystudioicons {
  color: #00215e;
  font-size: 130px;
  padding-bottom: 20px;
}
